@page "/statistics"
@inject IHamsterHttpRepository HamsterHttpRepository
@using HamsterWarsV2.Client.Components
@using HamsterWarsV2.Client.HttpRepository.HamsterHttp


@if (Top5Hamsters.Count == 0 || Bottom5Hamsters.Count == 0)
{
    <span>Loading hamsters..</span>
}
else
{
    <WrapperContainerBattleComponent Heading="Winners">
        @foreach (var hamster in Top5Hamsters)
        {
            <CardGalleryComponent Heading="@hamster.Name" Source="@hamster.ImgName">
                <p>
                    Games Played: @hamster.Games --
                    Wins : @hamster.Wins
                </p>
            </CardGalleryComponent>
        }
    </WrapperContainerBattleComponent>
    <WrapperContainerBattleComponent Heading="Losers">
        @foreach (var hamster in Bottom5Hamsters)
        {
            <CardGalleryComponent Heading="@hamster.Name" Source="@hamster.ImgName">
                <p>
                    Games Played: @hamster.Games --
                    Defeats : @hamster.Defeats
                </p>
            </CardGalleryComponent>
        }
    </WrapperContainerBattleComponent>
}

@code {

    public List<HamsterDto> Top5Hamsters { get; set; } = new List<HamsterDto>();
    private List<HamsterDto> Bottom5Hamsters { get; set; } = new List<HamsterDto>();

    protected override async Task OnInitializedAsync()
    {
        Top5Hamsters = await HamsterHttpRepository.GetTop5Hamsters();
        Bottom5Hamsters = await HamsterHttpRepository.GetBot5Hamsters();
    }
}
